/* Estilo para la barra de navegación */
.navbar {
  display: flex;
  justify-content: center;
  gap: 20px;
  background-color: #f8f9fa;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.nav-link {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  padding: 10px;
  border-radius: 5px;
}

.nav-link:hover {
  background-color: #007bff;
  color: white;
}

/* Estilo para los componentes (cuadros) */
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
}

.card {
  margin: 20px auto;
  padding: 20px;
  max-width: 600px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  text-align: center;
  flex-basis: calc(33% - 40px); /* Tres columnas */
}

.card h2 {
  margin-bottom: 10px;
  font-size: 24px;
  color: #333;
}

.card p {
  font-size: 16px;
  color: #666;
}

.boton {
  display: inline-block;
  margin-top: 10px;
  padding: 5px 10px;
  background-color: blue;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}
