/* PuntoRecoleccion.css */

/* Estilo para el encabezado */
h2 {
  font-family: 'Roboto', sans-serif;
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

/* Estilo para los botones */
button {
  background-color: #ff5722;
  color: white;
  font-weight: bold;
  margin: 10px auto;
  display: block;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  background-color: #e64a19;
}

/* Centrar el bot칩n "Agregar Punto de Recolecci칩n" */
.agregar-punto-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.agregar-punto-button {
  background-color: #ff5722;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease-in-out;
}

.agregar-punto-button:hover {
  background-color: #e64a19;
}

/* Estilo para el contenedor del mapa */
.leaflet-container {
  margin: 20px auto;
  max-width: 90%;
  height: 500px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

/* Responsividad del mapa */
@media (max-width: 768px) {
  .leaflet-container {
    height: 400px;
  }
}

/* Estilo para el di치logo */
.MuiDialog-paper {
  padding: 20px;
  border-radius: 10px;
}

/* Estilo para los campos de texto */
.MuiTextField-root {
  margin-bottom: 15px;
  width: 100%;
}

/* Estilo para los botones en el di치logo */
.MuiButton-containedPrimary {
  background-color: #ff5722 !important;
  color: white !important;
  font-weight: bold;
  transition: background-color 0.3s ease-in-out;
}

.MuiButton-containedPrimary:hover {
  background-color: #e64a19 !important;
}

/* Estilo para mensajes de error */
.MuiAlert-root {
  text-align: center;
  font-size: 14px;
}
